*{

margin:0;

padding:0;

box-sizing:border-box;

}



body{

overflow:hidden;

}



/* FUNDO DO CÉU */


.ceu{

height:100vh;

width:100%;

display:flex;

justify-content:center;

align-items:center;

position:relative;

overflow:hidden;


background:

linear-gradient(

180deg,

#06152f,

#183d70,

#9fc2e5

);


}





/* ESTRELAS */


.estrelas{

position:absolute;

inset:0;


background-image:

radial-gradient(white 1px, transparent 2px);


background-size:70px 70px;


animation:brilhoEstrelas 4s infinite alternate;


}



@keyframes brilhoEstrelas{


from{

opacity:.4;

}


to{

opacity:1;

}


}





/* NUVENS */


.nuvem{

position:absolute;

width:450px;

height:130px;


background:white;


opacity:.18;


border-radius:100px;


filter:blur(25px);


}




.nuvem1{

top:15%;

left:-500px;


animation:nuvemDireita 30s linear infinite;


}




.nuvem2{

bottom:15%;

right:-500px;


animation:nuvemEsquerda 35s linear infinite;


}




@keyframes nuvemDireita{


to{

transform:translateX(1700px);

}

}



@keyframes nuvemEsquerda{


to{

transform:translateX(-1700px);

}

}





/* PARTÍCULAS */


.particulas span{


position:absolute;


width:6px;


height:6px;


background:white;


border-radius:50%;


bottom:-20px;


animation:subirParticula 8s infinite;



}





.particulas span:nth-child(1){

left:15%;

animation-delay:1s;

}



.particulas span:nth-child(2){

left:30%;

animation-delay:3s;

}



.particulas span:nth-child(3){

left:50%;

animation-delay:5s;

}



.particulas span:nth-child(4){

left:70%;

animation-delay:2s;

}



.particulas span:nth-child(5){

left:85%;

animation-delay:6s;

}



.particulas span:nth-child(6){

left:40%;

animation-delay:4s;

}





@keyframes subirParticula{


0%{

transform:translateY(0);

opacity:0;

}


50%{

opacity:1;

}


100%{

transform:translateY(-900px);

opacity:0;

}


}






/* LUZ AO ABRIR */


.luz{


position:absolute;


width:350px;


height:350px;


background:white;


border-radius:50%;


filter:blur(100px);


opacity:0;


transition:2s;


z-index:4;


}






/* ENVELOPE */


.envelope{


z-index:5;


cursor:pointer;


transition:1.5s;


}




.envelope img{


width:330px;


animation:brilhoEnvelope 3s infinite;


}





@keyframes brilhoEnvelope{


50%{


filter:drop-shadow(0 0 25px white);


}


}





.envelope.sumir{


opacity:0;


transform:scale(1.2);


}







/* CONVITE */


.convite{


position:absolute;


z-index:10;


opacity:0;


transform:scale(.8);


transition:2s ease;


}





.convite img{


width:360px;


}




.convite.mostrar{


opacity:1;


transform:scale(1);


}







/* BOTÕES */


.botoes{


position:absolute;


bottom:40px;


display:flex;


flex-direction:column;


gap:15px;


opacity:0;


transform:translateY(50px);


transition:2s;


z-index:20;


}




.botoes button{


width:280px;


height:55px;


border-radius:50px;


border:1px solid rgba(255,255,255,.9);



background:rgba(255,255,255,.9);



color:#102b55;



font-size:17px;



font-family:serif;



cursor:pointer;



box-shadow:

0 0 25px rgba(255,255,255,.6);



transition:.4s;



}




.botoes button:hover{


transform:scale(1.08);


box-shadow:

0 0 40px white;


}




.botoes.mostrar{


opacity:1;


transform:translateY(0);


}






/* CELULAR */


@media(max-width:600px){



.envelope img{


width:85vw;


}



.convite img{


width:90vw;


}




.botoes button{


width:80vw;


}



}
